fastapi==0.103.1
uvicorn==0.23.2
sqlalchemy==2.0.21
pydantic==2.4.2
pydantic-settings==2.0.3
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6
python-dotenv==1.0.0
alembic==1.12.0
pydantic[email]==2.4.2
requests==2.31.0
boto3==1.26.160
mega.py
aiofiles
yt-dlp==2024.11.18